/*====================
{{スマホを基本設計にする}}
 -      〜424px： mobile
 - 425px〜767px： tablet
 - 768px〜     ： PC
====================*/
/* 上記はやり直し */

/*====================
{{スマホを基本設計にする}
   ベース        : mobile
 - 425px以上     : tablet
 - 768px以上     : PC
====================*/
html{
  margin:0;
  padding:0;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
body{
  margin: 0;
  padding: 0;
  width:100%;
}
body p{
  font-family: 'Hiragino Kaku Gothic Pro';
}
body h{
  font-family: 'Hiragino Kaku Gothic Pro';
}
body a{
  font-family: 'Hiragino Kaku Gothic Pro';
}
/* 上記をまとめて書く方法は？ あとで*/

  .mb{display:block;}
  .pc{display:none;}
@media screen and (min-width:425px) {
  .mb{display:block;}
  .pc{display:none;}
}
@media screen and (min-width:768px) {
  .mb{display:none;}
  .pc{display:block;}
}
/*ここは共通のheader----------------*/
header{
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  z-index: 2;
  background-color: #fff;
}


.header_title {
  max-width: 100%;
  top:0;
  margin: 0 ;
  background-color: #fff;
  display: block;
}
.header_image img{
  float: left;
  box-sizing: border-box;
  height: 40px;
  width: 100px;
  padding: 5px 5px;
  margin: 20px 0;
}
.head_sub{
  width: 170px
  margin: 0px;
  position: absolute;
  top: 8px;
  left: 10px;
  display: inline-block;
}
.head_sub p {
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  font-style: normal;
}
.header_siryou{
  display: block;
  text-align: center;
  float: right;
  font-weight: lighter;
  font-size: 14px;
  line-height:1.6;
  padding: 9px 11px;
  background-color: #da6b64;
  height: 60px;
  box-sizing: border-box;
  color: #fff;

}
.header_siryou img{
  display:block;
}

.header_siryou a{
  display:block;
  font-weight: lighter;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
.header{
  float: right;
}

/*-- ここからheader  pc_area --*/
@media screen and (min-width:768px) {
.header_btn{
    font-family: "メイリオ";
    font-size: 14px;
    font-weight: 300;
    float: right;
    line-height: 42px;
    text-align: center;
    background-color: #DA6B64;
    border-radius: 50px;
    color: #fff;
    margin: 0 50px 0 0;
    width: 318px;
    height: 42px;
    position: relative;
    bottom: -10px;
    box-sizing: border-box;
}
.header_image img{
  height: 50px;
  width: 130px;
  margin: 10px;
  display: inline-block;
  padding: 0;
}
.head_sub{
  width: 300px;
  margin: 30px 0 0 140px;
  /*position: absolute;*/
  top: 8px;
  left: 10px;
  display: inline-block;
}
.head_sub p {
  font-size: 12px;
  line-height: 19px;
}
}/*-- ここまでheader  pc_area --*/
/*ここは共通のmainーーーーーーーーー*/
.main {
  clear: both;
  margin: 60px 0 0 0 ;
  padding: 0;
  height: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background-image: url(../images/main.png);
/* 写真問題はあとで */
  background-size: cover;
  background-position: center top ;
}
.main p {
  margin: 0;
  padding: 0;
}
.txt1{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
}
.txt2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  font-style: normal;
}
.main_image_area{
  width: 300px;
  height: 90px;
  -align: center;
  margin: auto;
}
.main_image{
  background-image: url(../images/isaralogolarge.png) center top no-repeat;
  background-size: contain;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.cover-text{
  padding:50px;
  height: 300px;
  margin: 0px;
}
/*-- ここからmain pc_area --*/
@media screen and (min-width:768px) {
.main{
  height: 500px;
  padding-top: 25px;
  background-image: url(../images/main.png);
}
.cover-text{
  margin: 100px;
}
}/*-- ここまでmain pc_area --*/

/*ここからotoiawase----------------*/
.otoiawase{
  height: 455px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBB94D;
  margin: 0;
  color: #fff;
  padding-top: 35px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}
p#money{
  color: #c7254e;
  line-height: 29px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 35px;
  padding: 3px;
  background-color: #f6f6f6;
  border-radius: 6px;
  max-width: 380px;
  margin: auto;
}

/*— PC版では消して、mobile版だけに表示するもの！ --*/
.main_btn{
  background-color: #da6b64;
  border-radius: 100px;
  text-align: center;
  line-height: 25px;
  margin: 20px ;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 20px;
}
/*-- ここまでがmain mobile版 --*/

/*-- ここからmain pc_area --*/
@media screen and (min-width:768px) {

.main_btn{
  max-width: 90%;
  height: 75px;
  background-color: #DA6B64;
  border-radius: 100px;
  text-align: center;
  line-height: 75px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: 600;
  font-style: normal;
}
#text2{
font-weight: 600;
font-size: 18px;
}
#text3{
  font-weight: 600;
  font-size: 18px;
  margin-top: 50px;
}
}/*-- ここまでがmain pc_area --*/
/*ここからjiyu-----------------*/
.jiyu{
  height: 650px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/jiyu.png);
 /* background-position:  center bottom;       エディタの不具合箇所  */
   background-position:center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding-top: 35px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}
.jiyu h3{
  font-family: 'Hiragino Kaku Gothic Pro';
  position: relative;
  max-width: 90%;
  height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 50px;
}
.jiyu p{
  font-weight: 300px;
  font-size: 14px;
  line-height: 24px;
}
.jiyu h3::before{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}
.jiyu h3::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0px;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}
.jiyu p{
  line-height: 32px;
}
.jiyu .under{
  /*text-decoration: underline  これではダメ*/
  /*border-bottom: solid 10px #EBB94D;*/
  background: linear-gradient(transparent 70%, #EBB94D 70%);
  font-weight: 700;
  padding-bottom: 0;
}
.jiyu div:nth-child(1){
  margin-bottom: 20px;
}

/*-- ここからPC版表示CSS pc_area --*/
@media screen and (min-width:768px) {
  .jiyu h3{
    height: 90px;
    font-size: 24px;
    line-height: 90px;
  }
  .jiyu p{
    font-size: 16px;
    line-height: 26px;
  }
  .jiyu h3::before{
    width: 50px;
    height: 50px;
  }
  .jiyu h3::after{
    width: 50px;
    height: 50px;
  }
}/*-- ここまでがPC版 --*/
/*ここからisaratoha*/
.circle{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #EBB94D;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  font-weight: 400px;
  margin: 0 auto;
  position: relative;
  top:-30px;
  bottom: -30px;
}
.isaratoha{
  /* height: 620px; */
  height:auto;
  background-color: #FEF5E0;
  text-align: center;
  padding-bottom: 70px;
}
.ikusei{
  width: 100%;
  height: 130px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 0px;
}
.isaratoha h3{
  position: relative;
  max-width: 90%;
  font-weight: 600;
  height: 126px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* text-align: center; */
  font-size: 18px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  color: #333;
}

.isaratoha h3::before{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: -35px;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}
.isaratoha h3::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: -35px;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}
.isaratoha_kasegu{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
}
.sukiru{
  max-width: 90%;
  height: 265px;
  background-color: #ffffff;
  border: 2px solid #EBB94D;
  border-radius: 5px;
  margin: auto;
  display: block;
  padding: 5px 0 5px 0 ;
}
.sukiru_sub{
  margin: 20px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
}
.sukiru_tagu {
  display: inline-block;
  max-resolution: 30%;
  margin: 0 5px 20px 10px;
}

.sukiru_tagu p{
  font-size: 10px;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  line-height: 16px;
}
.sukiru_tagu_img{
  width: 30px;
}

/*ここからisaratoha tablet_area*/
@media screen and (min-width:425px) {
.isaratoha{
  height: 530px;
}

.isaratoha_kasegu{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
}
.sukiru{
  max-width: 90%;
  height: auto;
  background-color: #ffffff;
  border: 2px solid #EBB94D;
  border-radius: 5px;
  margin: auto;
  display: block;
  padding: 0;
}
.sukiru_sub{
  margin: 20px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
}
.sukiru_tagu {
  display: inline-block;
  max-resolution: 30%;
}
.sukiru_tagu p{
  font-size: 10px;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  line-height: 16px;
  margin: 0 10px;
}
.sukiru_tagu_img{
  width: 30px;
}
}/*ここまでisaratoha tablet_area*/
/*ここからisaratoha pc_area*/
@media screen and (min-width:768px) {
.circle{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    top:-40px;
    bottom: -40px;
}
.isaratoha h3{
  font-size: 28px;
}
.isaratoha h3::before{
  width: 50px;
  height: 50px;
  top: -35px;
}
.isaratoha h3::after{
  width: 50px;
  height: 50px;
  bottom: -35px;
  right: 0;
}
.isaratoha_kasegu{
  font-size: 16px;
  line-height: 26px;
}
.sukiru_sub{
  font-size: 16px;
  line-height: 26px;
}
.sukiru_tagu {
  display: inline-block;
  max-resolution: 30%;
  margin: 0 15px 20px 15px;
}

.sukiru_tagu p{
  font-size: 12px;
  line-height: 19px;
}
.sukiru_tagu_img{
  width: 50px;
}
.sukiru{
  padding: 20px;
}
}/*ここまでisaratoha pc_area*/
/*ここからstep  ベース */
.step{
  height: 605px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/aboutsecondbg.jpg);
  background-size: cover;
  padding-top: 20px;
  position: relative;
}
.step h3{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 20px;
}
.step_sub{
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  margin: 15px 0px;
  padding: 0;
}
.step span{
  color: #EBB94D;
}
.box_area{
  text-align: center;
  margin: 30px 0;
}
.step_box{
  /* position: relative; */
  max-width: 90%;
  height: 110px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  margin:  10px auto;
  text-align: center;
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
}
#step{
  padding: 0px;
  border-radius: 5px;
  background-color: #EBB94D;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}
#sub{
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  margin: 5px;
}
#work{
  font-weight: 600;
  font-size: 12px;
  line-height: 19px
}
.ao{
  margin: 0px;
  height: 96px;
  background-color: #016EA9;
  padding: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom:0;
}
.ao_text{
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  padding: 0px;
}
/*ここからstep  pc_area */
@media screen and (min-width:768px) {
  .step{
    height: 930px;
    padding-top: 40px;
  }
  .step h3{
    font-size: 24px;
    line-height: 30px;
  }
  .step_sub{
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0px;
  }
  .box_area{
    text-align: center;
    margin: 30px 0 65px 0;
  }
  .step_box{
    max-width: 38%;
    height: 170px;
    padding: 16px;
    margin:  10px auto;
    text-align: center;
  }
  #step{
    padding: 0px;
    font-size: 12px;
    line-height: 18px;
    margin: 20px;
  }
  #sub{
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    margin: 15px;
  }
  #work{
    font-weight: 600;
    font-size: 12px;
    line-height: 19px
  }
  .ao{
    margin: 0px;
    padding: 0px;
    height: 130px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position:center bottom;
    position:relative;
    /* bottom: -30; */
    /* position: absolute;
    bottom: 0; */
  }
  .ao_text{
    font-size: 16px;
    line-height: 26px;
    box-sizing: borderbox;
    padding: 39px;
  }




}


/*ここからmanabu*/
.manabu{
  margin-top:200px;
  height: 505px;
  box-sizing: border-box;
  padding: 60px;
  text-align: center;
}













/*-- 最下部 --*/
.mb{display:block;}
.pc{display:none;}
@media screen and (min-width:425px) {
.mb{display:block;}
.pc{display:none;}
}
@media screen and (min-width:768px) {
.mb{display:none;}
.pc{display:block;}
}
