/*====================
{{スマホを基本設計にする}}
 -      〜424px： mobile
 - 425px〜767px： tablet
 - 768px〜     ： PC
====================*/
/* 上記はやり直し */

/*====================
{{スマホを基本設計にする}
   ベース        : mobile
 - 425px以上     : tablet
 - 768px以上     : PC
====================*/
html{
  margin:0;
  padding:0;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
body{
  margin: 0;
  padding: 0;
  width:100%;
  /* font-family: Meiryo; */
}
body p{
  font-family: 'Hiragino Kaku Gothic Pro';
}
body h{
  font-family: 'Hiragino Kaku Gothic Pro';
}
body a{
  font-family: 'Hiragino Kaku Gothic Pro';
}
/* 上記をまとめて書く方法は？ あとで*/

  .mb{display:block;}
  .pc{display:none;}
@media screen and (min-width:425px) {
  .mb{display:block;}
  .pc{display:none;}
}
@media screen and (min-width:768px) {
  .mb{display:none;}
  .pc{display:block;}
}
/*ここは共通のheader----------------*/
header{
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  z-index: 2;
  background-color: #fff;
}


.header_title {
  max-width: 100%;
  top:0;
  margin: 0 ;
  background-color: #fff;
  display: block;
}
.header_image img{
  float: left;
  box-sizing: border-box;
  height: 40px;
  width: 100px;
  padding: 5px 5px;
  margin: 20px 0;
}
.head_sub{
  width: 170px
  margin: 0px;
  position: absolute;
  top: 8px;
  left: 10px;
  display: inline-block;
}
.head_sub p {
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  font-style: normal;
}
.header_siryou{
  display: block;
  text-align: center;
  float: right;
  font-weight: lighter;
  font-size: 14px;
  line-height:1.6;
  padding: 9px 11px;
  background-color: #da6b64;
  height: 60px;
  box-sizing: border-box;
  color: #fff;

}
.header_siryou img{
  display:block;
}

.header_siryou a{
  display:block;
  font-weight: lighter;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
.header{
  float: right;
}

/*-- ここからheader  pc_area --*/
@media screen and (min-width:768px) {
.header_btn{
    font-family: "メイリオ";
    font-size: 14px;
    font-weight: 300;
    float: right;
    line-height: 42px;
    text-align: center;
    background-color: #DA6B64;
    border-radius: 50px;
    color: #fff;
    margin: 0 50px 0 0;
    width: 318px;
    height: 42px;
    position: relative;
    bottom: -10px;
    box-sizing: border-box;
}
.header_image img{
  height: 50px;
  width: 130px;
  margin: 10px;
  display: inline-block;
  padding: 0;
}
.head_sub{
  width: 300px;
  margin: 30px 0 0 140px;
  /*position: absolute;*/
  top: 8px;
  left: 10px;
  display: inline-block;
}
.head_sub p {
  font-size: 12px;
  line-height: 19px;
}
}/*-- ここまでheader  pc_area --*/
/*ここは共通のmainーーーーーーーーー*/
.main {
  clear: both;
  margin: 60px 0 0 0 ;
  padding: 0;
  height: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background-image: url(../images/main.png);
/* 写真問題はあとで */
  background-size: cover;
  background-position: center top ;
}
.main p {
  margin: 0;
  padding: 0;
}
.txt1{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  color: #333333;
}
.txt2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  font-style: normal;
}
.main_image_area{
  width: 300px;
  height: 90px;
  -align: center;
  margin: auto;
}
.main_image{
  background-image: url(../images/isaralogolarge.png) center top no-repeat;
  background-size: contain;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.cover-text{
  padding:50px;
  height: 300px;
  margin: 0px;
}
/*-- ここからmain pc_area --*/
@media screen and (min-width:768px) {
.main{
  height: 500px;
  padding-top: 25px;
  background-image: url(../images/main.png);
}
.cover-text{
  margin: 100px;
}
}/*-- ここまでmain pc_area --*/

/*ここからotoiawase----------------*/
.otoiawase{
  height: 455px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBB94D;
  margin: 0;
  color: #fff;
  padding-top: 35px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}
p#money{
  color: #c7254e;
  line-height: 29px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 35px;
  padding: 3px;
  background-color: #f6f6f6;
  border-radius: 6px;
  max-width: 380px;
  margin: auto;
}

/*— PC版では消して、mobile版だけに表示するもの！ --*/
.main_btn{
  background-color: #da6b64;
  border-radius: 100px;
  text-align: center;
  line-height: 25px;
  margin: 20px ;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 20px;
}
/*-- ここまでがmain mobile版 --*/

/*-- ここからmain pc_area --*/
@media screen and (min-width:768px) {

.main_btn{
  max-width: 90%;
  height: 75px;
  background-color: #DA6B64;
  border-radius: 100px;
  text-align: center;
  line-height: 75px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: 600;
  font-style: normal;
}
#text2{
font-weight: 600;
font-size: 18px;
}
#text3{
  font-weight: 600;
  font-size: 18px;
  margin-top: 50px;
}
}/*-- ここまでがmain pc_area --*/
/*ここからjiyu-----------------*/
.jiyu{
  height: 650px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/jiyu.png);
 /* background-position:  center bottom;       エディタの不具合箇所  */
   background-position:center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding-top: 35px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}
.jiyu h3{
  font-family: 'Hiragino Kaku Gothic Pro';
  position: relative;
  max-width: 90%;
  height: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 50px;
}
.jiyu p{
  font-weight: 300px;
  font-size: 14px;
  line-height: 24px;
}
.jiyu h3::before{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}
.jiyu h3::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0px;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}
.jiyu p{
  line-height: 32px;
}
.jiyu .under{
  /*text-decoration: underline  これではダメ*/
  /*border-bottom: solid 10px #EBB94D;*/
  background: linear-gradient(transparent 70%, #EBB94D 70%);
  font-weight: 700;
  padding-bottom: 0;
}
.jiyu div:nth-child(1){
  margin-bottom: 20px;
}

/*-- ここからPC版表示CSS pc_area --*/
@media screen and (min-width:768px) {
  .jiyu h3{
    height: 90px;
    font-size: 24px;
    line-height: 90px;
  }
  .jiyu p{
    font-size: 16px;
    line-height: 26px;
  }
  .jiyu h3::before{
    width: 50px;
    height: 50px;
  }
  .jiyu h3::after{
    width: 50px;
    height: 50px;
  }
}/*-- ここまでがPC版 --*/
/*ここからisaratoha*/
.circle{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #EBB94D;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  font-weight: 400px;
  margin: 0 auto;
  position: relative;
  top:-30px;
  bottom: -30px;
}
.isaratoha{
  /* height: 620px; */
  height:auto;
  background-color: #FEF5E0;
  text-align: center;
  padding-bottom: 70px;
}
.ikusei{
  width: 100%;
  height: 130px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 0px;
}
.isaratoha h3{
  position: relative;
  max-width: 90%;
  font-weight: 600;
  height: 126px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* text-align: center; */
  font-size: 18px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  color: #333;
}

.isaratoha h3::before{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: -35px;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}
.isaratoha h3::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: -35px;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}
.isaratoha_kasegu{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
}
.sukiru{
  max-width: 90%;
  height: 265px;
  background-color: #ffffff;
  border: 2px solid #EBB94D;
  border-radius: 5px;
  margin: auto;
  display: block;
  padding: 5px 0 5px 0 ;
}
.sukiru_sub{
  margin: 20px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
}
.sukiru_tagu {
  display: inline-block;
  max-resolution: 30%;
  margin: 0 5px 20px 10px;
}

.sukiru_tagu p{
  font-size: 10px;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  line-height: 16px;
}
.sukiru_tagu_img{
  width: 30px;
}

/*ここからisaratoha tablet_area*/
@media screen and (min-width:425px) {
.isaratoha{
  height: 530px;
}

.isaratoha_kasegu{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
}
.sukiru{
  max-width: 90%;
  height: auto;
  background-color: #ffffff;
  border: 2px solid #EBB94D;
  border-radius: 5px;
  margin: auto;
  display: block;
  padding: 0;
}
.sukiru_sub{
  margin: 20px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
}
.sukiru_tagu {
  display: inline-block;
  max-resolution: 30%;
}
.sukiru_tagu p{
  font-size: 10px;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  line-height: 16px;
  margin: 0 10px;
}
.sukiru_tagu_img{
  width: 30px;
}
}/*ここまでisaratoha tablet_area*/
/*ここからisaratoha pc_area*/
@media screen and (min-width:768px) {
.circle{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    top:-40px;
    bottom: -40px;
}
.isaratoha h3{
  font-size: 28px;
}
.isaratoha h3::before{
  width: 50px;
  height: 50px;
  top: -35px;
}
.isaratoha h3::after{
  width: 50px;
  height: 50px;
  bottom: -35px;
  right: 0;
}
.isaratoha_kasegu{
  font-size: 16px;
  line-height: 26px;
}
.sukiru_sub{
  font-size: 16px;
  line-height: 26px;
}
.sukiru_tagu {
  display: inline-block;
  max-resolution: 30%;
  margin: 0 15px 20px 15px;
}

.sukiru_tagu p{
  font-size: 12px;
  line-height: 19px;
}
.sukiru_tagu_img{
  width: 50px;
}
.sukiru{
  padding: 20px;
}
}/*ここまでisaratoha pc_area*/
/*ここからstep  ベース */
.step{
  /* height: 605px; */
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/aboutsecondbg.jpg);
  background-size: cover;
  padding-top: 20px;
  position: absolute;
}
.step h3{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 20px;
}
.step_sub{
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  margin: 15px 0px;
  padding: 0;
}
.step span{
  color: #EBB94D;
}
.box_area{
  text-align: center;
  margin: 30px 0 0 0;
}
.step_box{
  /* position: relative; */
  max-width: 90%;
  height: 110px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  margin:  10px auto;
  text-align: center;
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
}
#step{
  padding: 0px;
  border-radius: 5px;
  background-color: #EBB94D;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}
#sub{
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  margin: 5px;
}
#work{
  font-weight: 600;
  font-size: 12px;
  line-height: 19px
}
.ao{
  margin: 0px;
  height: 96px;
  background-color: #016EA9;
  padding: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* position: absolute;
  bottom:0; */
}
.ao_text{
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  padding: 0px;
}
/*ここからstep  pc_area */
@media screen and (min-width:768px) {
  .step{
    height: 930px;
    padding-top: 40px;
  }
  .step h3{
    font-size: 24px;
    line-height: 30px;
  }
  .step_sub{
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0px;
  }
  .box_area{
    text-align: center;
    margin: 30px 0 65px 0;
  }
  .step_box{
    max-width: 38%;
    height: 170px;
    padding: 16px;
    margin:  10px auto;
    text-align: center;
  }
  #step{
    padding: 0px;
    font-size: 12px;
    line-height: 18px;
    margin: 20px;
  }
  #sub{
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    margin: 15px;
  }
  #work{
    font-weight: 600;
    font-size: 12px;
    line-height: 19px
  }
  .ao{
    margin: 0px;
    padding: 0px;
    height: 130px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position:center bottom;
    position:relative;
    /* bottom: -30; */
    /* position: absolute;
    bottom: 0; */
  }
  .ao_text{
    font-size: 16px;
    line-height: 26px;
    box-sizing: borderbox;
    padding: 39px;
  }
}/*ここまでstep  pc_area */
/*ここからmanabu ベース */
.manabu{
  margin: 0 auto;
  /* height: auto; 下記が使える！*/
  max-height: 370px;
  text-align: center;
  padding: 30px 0;
}
.manabu_yomi{
  font-size: 12px;
}
.manabu h3{
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.manabu p{
  font-weight: 300px;
  font-size: 15px;
  line-height: 24px;
  margin: 20px auto;
}
#each_manabu_logo{
  max-width: 19%;
  height: auto;
  margin: 5px;
}
.manabu p#manabu_sub{
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 5px;
}
/*ここからmanabu pc_area */
@media screen and (min-width:768px) {
.manabu{
  margin: 0 auto;
  /* height: auto; 下記が使える！*/
  max-height: 540px;
  padding: 60px 0;
}
.manabu_yomi{
  font-size: 14px;
}
.manabu h3{
  font-size: 24px;
}
.manabu p{
  font-size: 16px;
  margin: 20px auto;
}
#each_manabu_logo{
  max-width: 18%;
  height: auto;
  margin: 22px;
}
.manabu p#manabu_sub{
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 5px;
}
}/*ここまでmanabu pc_area */
/*ここからmerrito ベース */
.meritto{
  height: auto;
  /* max-width:100%; */
  text-align: center;
  background-color: #FEF5E0;
  padding: 50px 20px;
}
#meritto_text1{
  margin:0 auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}
#meritto_text2{
  margin:0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
}
.meritto_title{
  max-width: 100%;
  height: 112px;
  margin:0 auto;
  padding: 25px 0 0 0 ;
  position: relative;
}
.meritto_title::before{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}
.meritto_title::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0px;
  right: 0;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}

.meritto_box{
  /* vertical-align: top; */
  max-width: 100%;
  height: auto;
  display: inline-block;
  padding: 0;
  margin: 15px 0;
}
#each_meritto_tag{
  width: 100%;
  max-height: 120px;
  background-position: center center;
  -webkit-background-size: cover;
}
#meritto_text3{
  color: #ebb94d;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin: 10px 0;
}
#meritto_text4{
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  text-align: left;
  margin: 0px;
  padding: 0 20px;
}
.mado_box{
  max-width: 100%;
  height: 175px;
  background-color: #ffffff;
  border: 2px solid #EBB94D;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
}
#mado_text1{
  margin-bottom: 0px;
  font-weight:600;
  font-size: 18px;
  line-height: 29px;
  color: #ebb94d;
}
#mado_text2{
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  margin: 10px;
}
#mado_text3{
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
}
.notes{
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  margin-top: 20px;
}
/*ここからmerrito table-area */
@media screen and (min-width:425px) {
  .meritto{
    height: 1135px
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}/*ここまでmerrito table-area */
/*ここからmerrito pc-area */
@media screen and (min-width:768px) {
  .meritto{
    height: auto;
    padding: 50px 0x;
  }
  #meritto_text1{
    font-size: 16px;
    line-height: 40px;
  }
  #meritto_text2{
    font-size: 24px;
  }
  .meritto_title{
    max-width: 100%;
    height: 105px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin:0 auto;
    padding: 25px 0 0 0 ;
    position: relative;
  }
  .meritto_title::before{
    width: 50px;
    height: 50px;
    top: 0;
    left: 70px;
  }
  .meritto_title::after{
    width: 50px;
    height: 50px;
    bottom: -30px;
    right: 70px;
  }
  .meritto_logo{
    padding: 65px 0 60px 0 ;
  }
  .meritto_box{
    vertical-align: top;
    /* width: 300px; */
    max-width: 100%
    height: auto;
    display: inline-block;
    padding: 0;
  }
  #each_meritto_tag{
    width: 300px;
    max-height: 180px;
  }
  #meritto_text3{
    color: #ebb94d;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin: 10px 0;
  }
  #meritto_text4{
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    text-align: left;
    margin: 0px;
    padding: 0 20%;
  }
  .mado_box{
    max-width: 90%;
    height: 175px;
    background-color: #ffffff;
    border: 2px solid #EBB94D;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
  }
  #mado_text1{
    margin-bottom: 0px;
    font-weight:600;
    font-size: 18px;
    line-height: 29px;
    color: #ebb94d;
  }
  #mado_text2{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    margin: 10px;
  }
  #mado_text3{
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
  }
  .notes{
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    margin-top: 20px;
  }
}/*ここまでmerrito pc-area */
/*ここからmerrito 特別にbig_area */
@media screen and (min-width:990px) {
  .meritto{
    height: 1010px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 0x;
  }
  .meritto_box{
    vertical-align: top;
    width: 300px;
    /* max-width: 100% */
    margin: 0.3%;
    height: auto;
    display: inline-block;
    padding: 0;
  }

  #meritto_text4{
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    text-align: left;
    margin: 0px;
    padding: 0 20px;
  }
}/*ここまでmerrito 特別にbig_area */
/*ここからmenber ベース */
.menber{
  /* height: 1610px; */
  height: auto;
  margin: 0;
  background-image: url(../images/teacherbg.jpg);
  background-size: cover;
  /* padding: 65px 0 0 0; */
  padding: 50px 0 0 0;
  text-align: center;
  color: #ffffff;
  position: relative; /*基準BOX用*/
}
.menber h3{
  font-weight: 600;
  /* font-size:28px; */
  font-size:18px;
  line-height: 40px;
  margin: 0px;
}
#menber_sub{
  margin-bottom: 0px;
  font-weight: 600;
  /* font-size:16px; */
  font-size:12px;
  /* line-height: 26px; */
  line-height: 19px;
}
.menbers{
  /* padding: auto; */
  padding: 0;
}
.each_menber{
 /* width: 370px; */
  max-width:95%;
  /* height: 400px; */
  height: auto;
  /* box-sizing: border-box; */
  display: inline-block;
  vertical-align: top;
  /* margin: 0 15px 150px 15px; */
  margin: 0;
}
.menber_img{
  border-radius: 50%;
  /* width: 200px; */
  width: 120px;
  /* height: 200px; */
  height: 120px;
  position:relative;
  bottom: -35px;
}
.each_menber_text{
  border: 3px solid ;
  font-weight: 300;
  /* font-size: 16px; */
  font-size: 12px;
  /* line-height: 26px; */
  line-height: 19px;
  /* padding: 20px; */
  /* padding: 30px 0 ; */
  padding: 30px 0 10px 0;
  /* width: 375px; */
  /* height: 365px; */
  height: auto;
  /* box-sizing: border-box; */
}
.each_menber_text p:nth-child(3){
  text-align: left;
}
.each_menber_text p + p{
  margin: 5px;
}
.qa{
	position: absolute;
	bottom: 0;
	/* height: 270px; */
	height: 210px;
	max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EBB94D;
  position: relative;
  margin-top: 10px;
  /* padding: 40px; */
  padding: 10px;
}
.qa_circle{
  /* width: 80px; */
  width: 60px;
  /* height: 80px; */
  height: 60px;
  background-color: #ffffff;
  border-radius: 50px;
  color: #EBB94D;
  /* line-height: 80px; */
  line-height: 60px;
  font-weight:400;
  /* font-size: 14px; */
  font-size: 16px;
  margin: 0 auto;
}
.qa_sub p{
  font-weight: 600;
  /* font-size: 28px; */
  font-size: 14px;
  line-height: 40px;
  width: 100%;
  height: 110px;
  margin: 0px auto;
  /* padding: 15px; */
  padding: 15px 0 0 0;
  position: relative;
}
.qa_sub p::before{
  color: #ffffff;
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}
.qa_sub p::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}/*ここまでmenber ベース */
/*ここからmenber tablet_area */
@media screen and (min-width:425px) {
  .each_menber_text{
    border: 3px solid ;
    font-weight: 300;
    /* font-size: 16px; */
    font-size: 12px;
    /* line-height: 26px; */
    line-height: 19px;
    /* padding: 20px; */
    /* padding: 30px 0 ; */
    padding: 30px 0 10px 0;
    /* width: 375px; */
    height: 175px;
    /* height: auto; */
    box-sizing: border-box;
  }
}/*ここまでmenber tablet_area */
/*ここからmenber big_area */
@media screen and (min-width: 995px) {
  .menber{
    height: 1270px;
    background-image: url(../images/teacherbg.jpg);
    background-size: cover;
    padding: 50px 0 0 0;
    text-align: center;
    color: #ffffff;
    position: relative; /*基準BOX用*/
  }
  .menber h3{
    font-size:24px;
  }
  #menber_sub{
    margin-bottom: 0px;
    font-size:14px;
    line-height: 22px;
  }
  .menbers{
    /* padding: auto; */
    padding: 0;
  }
  .each_menber{
    width: 370px;
    vertical-align: top;
    margin: 15px;
  }
  .menber_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position:relative;
    bottom: -35px;
  }
  .each_menber_text{
    font-size: 14px;
    line-height: 22px;
    padding: 40px;
    height: 330px;
    width: 370px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .qa{
  	position: absolute;
  	bottom: 0;
  	height: 270px;
  	max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EBB94D;
    position: relative;
    margin-top: 10px;
    /* padding: 40px; */
    padding: 30px;
  }
  .qa_circle{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    margin: 0 auto;
  }
  .qa_sub p{
    font-size: 18px;
    width: 100%;
    height: 110px;
    margin: 0px auto;
    /* padding: 15px; */
    padding: 15px 0 0 0;
    position: relative;
  }
  .qa_sub p::before{
    color: #ffffff;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 120px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
  }
  .qa_sub p::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    right: 120px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
  }
}/*ここまでmenber big_area */
/*ここからjitugen ベース */
.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  /* border-width: 25px; */
  border-width: 15px;
  border-color: #EBB94D transparent transparent transparent;
  margin-right: auto;
  margin-left: auto;
}
.jitugen{
  /* height: 1070px; */
  height: auto;
  /* box-sizing: border-box; */
  margin: 0 ;
  text-align: center;
  padding:0;
}
.jitugen h3{
  font-weight: 600;
  /* font-size:28px; */
  font-size:18px;
  /* line-height: 45px; */
  line-height: 29px;
  margin-bottom: 10px;
}
.jitugen_title{
  font-weight: 600;
  /* font-size:16px; */
  font-size:12px;
  /* line-height: 26px; */
  line-height: 19px;
  margin-bottom: 35px;
}
.jitugen_sub{
  /* font-weight: 600px; */
  font-weight: 300px;
  /* font-size:16px; */
  font-size:12px;
  /* line-height: 26px; */
  line-height: 19px;
  color: #333333;
}
.company_area{
  padding: 20px;
  height: 100%;
}
.each_company{
  /* width: 100%; */
  max-width: 98%;
  /* height: 245px; */
  height: auto;
  /* margin:auto; */
  clear:both;
}
.each_company img{
  border: 2px solid #EBB94D;
  /* width: 240px; */
  width: 29.5%;
  /* height: 240px; */
  height: auto;
  /* float:left; */
  float:left;
  margin-bottom: 30px;
  margin-right: 30px;
}
.company_text{
  font-weight: 400px;
  /* font-size:18px; */
  font-size:14px;
  /* line-height: 29px; */
  line-height: 22px;
  text-align: left;
  color: #777777;
  /* padding: 30px 0 0 280px; */
  padding: 0 0 0 20px;
}
.intro{
  font-style: italic;
  font-style: oblique;
  font-weight: 400;
  /* font-size: 15px; */
  font-size: 12px;
  /* line-height: 24px; */
  line-height: 19px;
  text-align: left;
  /* padding-left: 280px; */
  padding-left: 20px;
  color: #777777;
  text-decoration: underline;
}/*ここまでjitugen ベース */
/*ここからjitugen tablet_area */
@media screen and (min-width:425px) {
  .company_text{
    font-size:18px;
    line-height: 29px;
    /* padding: 30px 0 0 280px; */
    padding: 0 0 0 20px;
  }
}/*ここまでjitugen tablet_area */
/*ここからjitugen pc_area */
@media screen and (min-width:768px) {
.triangle{
  border-width: 25px;
}
.jitugen{
  height: 1070px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 ;
  padding:0;
}
.jitugen h3{
  font-size:24px;
  line-height: 38px;
  margin-bottom: 20px;
}
.jitugen_title{
  font-size:14px;
  line-height: 22px;
  margin-bottom: 35px;
}
.jitugen_sub{
  font-size:12px;
  line-height: 19px;
  color: #333333;
  margin-bottom: 15px;
}
.company_area{
  padding: 20px;
  height: 100%;
}
.each_company{
  max-width:98%;
  height: auto;
  clear:both;
}
.each_company img{
  width: 240px;
}
.company_text{
  font-style: italic;
  font-weight: 400px;
  font-size:18px;
  line-height: 29px;
  padding: 0 0 0 20px;
  width: 100%;
  margin-bottom: 10px;
}
.intro{
  font-style: italic;
  font-style: oblique;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-left: 20px;ß
}
}/*ここまでjitugen pc_area */
/*ここからnaiyou ベーズ */
.naiyou{
  clear: both;
  /* height: 950px; */
  height: auto;
  background-image: url(../images/classbg.jpg);
  background-size: cover;
  /* box-sizing: border-box; */
  margin: 0 auto;
  padding: 50px 0 0 0;
  text-align: center;
  color: #ffffff;
}
.naiyou h3{
  font-weight: 600px;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 15px;
}
.naiyou_sub{
  font-weight: 600px;
  /* font-size: 16px; */
  font-size: 12px;
  /* line-height: 26px; */
  line-height: 19px;
  margin-bottom: 30px;
}
.naiyou_area{
  color: black;
  /*あとで修正*/
  padding: 0px;
  /* height: 600px; */
  height: auto;
}
.jizen{
  /* width: 370px; */
  max-width: 100%;
  /* height: 536px; */
  height: 470px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* display: inline-block; */
  /* vertical-align: top; */
  margin-bottom: 50px;
}
.naiyou ul {
  width: 95%;
  border: 2px solid #016EA9;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}
.tokou{
  /* width: 375px; */
  max-width: 100%;
  /* height: 350px; */
  height: 310px;
  margin-bottom: 50px;
  box-sizing: border-box;
  /* display: inline-block; */
  /* vertical-align: top; */
}
.li_head{
  color: #ffffff;
  font-weight:600;
  /* font-size: 20px; */
  font-size: 15px;
  /* line-height: 32px; */
  line-height: 24px;
  background-color: #016EA9;
  border-bottom: 2px solid #016EA9;
}
.naiyou li{
  list-style: none;
  font-weight:600;
  /* font-size: 16px; */
  font-size: 12px;
  /* line-height: 55px; */
  line-height: 19px;
  padding: 12px;
}
.naiyou li + li{
  border-bottom: 2px dotted silver
}
.naiyou li + li:last-child {
  border-bottom: none;
}
.risuku_zero {
  clear: both;
  /* height: 146px; */
  height: 90px;
  box-sizing: border-box;
  background-color: #016EA9;
  margin: 0;
  font-weight: 600;
  /* font-size:20px; */
  font-size: 15px;
  /* line-height:32px; */
  line-height: 24px;
  /* padding: 41px; */
  padding: 21px;
}
.risuku_zero p{
  margin: 0;
  padding: 0;
}/*ここまでnaiyou ベーズ */
/*ここからnaiyou tablet_area */
@media screen and (min-width:425px) {
  .naiyou ul {
    width: 64%;
  }
  .li_head{
    font-size: 16px;
    line-height: 26px;
  }
  .naiyou li{
    font-size: 14px;
    line-height: 22px;
    padding: 12px;
  }
  .jizen{
    margin-bottom: 80px;
  }
  .tokou{
    margin-bottom: 100px;
  }
}/*ここまでnaiyou tablet_area */
/*ここからnaiyou pc_area */
@media screen and (min-width:768px) {
.naiyou{
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 0 0 0;
}
.naiyou h3{
  font-size: 24px;
  margin-bottom: 15px;
}
.naiyou_sub{
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
}
.naiyou_area{
  height: 636px;
  /* height: 600px; */
  /* height: auto; */
}
.jizen{
  width: 365px;
  height: 536px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  margin: 0 5px;
}
.naiyou ul {
  width: 100%;
  padding: 0;
  /* margin-right: auto;*/
  margin-bottom: 100px;
}
.tokou{
  width: 365px;
  height: 350px;
  margin-bottom: 50px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}
.li_head{
  font-size: 20px;
  line-height: 32px;
}
.naiyou li{
  font-size: 16px;
  line-height: 26px;
  padding: 12px;
}
.risuku_zero {
  clear: both;
  height: 144px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size:20px;
  line-height:32px;
  padding: 40px;
}
.risuku_zero p{
  margin: 0;
  padding: 0;
}
}/*ここまでnaiyou pc_area */
/*ここからnagare ベース */
.nagare {
  /* height: 1835px; */
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  /* text-align: center; */
  text-align: left;
}
.nagare h3{
  /* margin: 60px 0; */
  margin: 45px 0;
  font-weight: 600;
  /* font-size: 28px; */
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
.nagare_area{

}
.consal{
  /* height: 230px; */
  height: auto;
  width: 95%;
  box-sizing: border-box;
  background-color: #FEF5E0;
  border-radius: 3px;
  margin: 0 auto;
  margin-bottom: 20px;
  /* padding: 0px 50px; */
}
.nagare_title{
  margin:0;
  /* padding: 45px 0; */
  padding: 10px;
  /* width: 170px; */
  width: 100%;
  /* height: 180px; */
  height: 35px;
  font-weight: 600;
  /* font-size: 18px; */
  font-size: 15px;
  line-height: 35px;
  vertical-align: center;
  /* display: table-cell; */
}
.nagare_area dd{
  background-color: #FEF5E0;
}
.nagare_area dd{
  background-color: #FEF5E0;
}
.nagare_text{
    /* display: table-cell; */
    text-align: left;
    vertical-align: top;
    padding: 20px;
    /* background-color: #FEF5E0; */
}
.nagare_title_sub {
  font-weight: 600;
  /* font-size: 16px; */
  font-size: 12px;
  /* line-height: 26px; */
  line-height: 19px;
  margin-bottom: 10px;
}
.nagare_content {
  font-weight: 300;
  /* font-size: 14px; */
  font-size: 12px;
  /* line-height: 22px; */
  line-height: 19px;
  margin-bottom: 10px;
}
.nagare_content_2 {
  font-weight: 600;
  /* font-size: 16px; */
  font-size: 12px;
  /* line-height: 26px; */
  line-height: 19px;
}/*ここまでnagare ベース */
/*ここからnagare pc_area */
@media screen and (min-width:768px) {
.nagare {
  /* height: 1835px; */
  height: auto;
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
}
#nagare_flow{
  margin-bottom: 30px;
  width: 100%;
}
.flow{
  width: 80%;
  height: 60px;
  margin: 0;
  padding: 0;
}
.nagare h3{
  margin: 60px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
}
.nagare_area{
}
.nagare_title{
  margin:0;
  padding: 45px 0;
  width: 170px;
  /* max-width: 95%; */
  height: 180px;
  font-weight: 600;
  font-size: 18px;
  display: table-cell
  line-height: 29px;
}
.consal{
  height: 230px;
  width: 100%;
  box-sizing: border-box;
  background-color: #FEF5E0;
  border-radius: 10px;
  margin:0 auto;
  padding: 0px 50px;
  display: table;
}
.nagare_text{
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding: 20px;
}
.nagare_title_sub {
  margin-top: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.nagare_content {
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}
.nagare_content_2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
}/*ここまでnagare pc_area */
/*ここからnaze ベース */
.naze{
  /* height: 500px; */
  height: auto;
  box-sizing: border-box;
  color: #fff;
  background-image: url(../images/bangkokbg.jpg);
  background-size: cover;
}
.naze_content{
  /* padding:100px; */
  padding:35px;
}

.naze h3{
  font-weight:600;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 25px;
  text-align: center;
}
.naze_text1{
  font-weight:300;
  /* font-size: 14px; */
  font-size: 12px;
  /* line-height: 22px; */
  line-height: 19px;
}
.naze li{
  font-weight:600;
  /* font-size: 16px; */
  font-size: 12px;
  /* line-height: 26px; */
  line-height: 19px;
  margin-bottom: 20px;
}
.naze_text2{
  font-weight:600;
  /* font-size: 20px; */
  font-size: 15px;
  /* line-height: 32px; */
  line-height: 24px;
}
/*ここまでnaze ベース */
/*ここからnaze pc_area */
@media screen and (min-width:768px) {
  .naze{
    /* height: 500px; */
    height: auto;
  }
  .naze_content{
    padding:55px;
  }
  .naze li{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .naze_text2{
    font-size: 16px;
    line-height: 26px;
  }
}









.tokuten {
  background-color: silver;
}




/*-- 最下部 --*/
.mb{display:block;}
.pc{display:none;}
@media screen and (min-width:425px) {
.mb{display:block;}
.pc{display:none;}
}
@media screen and (min-width:768px) {
.mb{display:none;}
.pc{display:block;}
}
